/* --------- Global style */
body {
    background-color: #0c0c0c;
    color: #d3a625;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.hidden {
    display: none;
}

.quiz-area {
    margin-top: 20px;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.quiz-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.quiz-buttons {
    margin-top: 20px;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.btn.selected {
    background-color: #d3a625 !important; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

.results {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Styling for the "Stop Searching" button */
#quit-btn {
    background-color: #e53935; 
    color: white;
}
